/* Fonts */
@font-face {
	font-family: 'Roboto-bold';
	src: url('../style/fonts/Roboto/Roboto-Black.woff2'),
	url('../style/fonts/Roboto/Roboto-BlackItalic.woff');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto light';
	src: url('../style/fonts/Roboto/Roboto-Light.woff2'),
	url('../style/fonts/Roboto/Roboto-Light.woff');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Regular';
	src: url('../style/fonts/Roboto/Roboto-Regular.woff2'),
	url('../style/fonts/Roboto/Roboto-Regular.woff');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto italic';
	src: url('../style/fonts/Roboto/Roboto-LightItalic.woff2'),
	url('../style/fonts/Roboto/Roboto-LightItalic.woff');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro light';
	src: url('../style/fonts/SourceSansPro/SourceSansPro-ExtraLight.woff2'),
	url('../style/fonts/SourceSansPro/SourceSansPro-ExtraLight.woff');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro Regular';
	src: url('../style/fonts/SourceSansPro/SourceSansPro-Regular.woff2'),
	url('../style/fonts/SourceSansPro/SourceSansPro-Regular.woff2');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro 600';
	src: url('../style/fonts/SourceSansPro/SourceSansPro-SemiBold.woff2'),
	url('../style/fonts/SourceSansPro/SourceSansPro-SemiBold.woff');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro 700';
	src: url('../style/fonts/SourceSansPro/SourceSansPro-Bold.woff2'),
	url('../style/fonts/SourceSansPro/SourceSansPro-Bold.woff');
	font-style: normal;
	font-display: swap;
}

/* Reset */
*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 25.2px;
	color: #444444;
}

html,body{
	font-family: 'Source Sans Pro 600', sans-serif;
	font-size: 0.875rem;
}

.header__body{
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
	margin: 0 auto;
	z-index: 10;
}

.header__burger{
	margin: 0 auto;
	text-align: center;
	
}

.header__list{
	display: flex;
}

.header__list li{
	list-style: none;
	margin: 0px 0px 0px 30px;
}

.header__link{
	color: #444;
	text-transform: uppercase;
	padding: 24px 22px;
	text-decoration: none;
	font-family: 'Source Sans Pro Regular';
	line-height: 22px;
	letter-spacing: 3px;
	word-spacing: 0px;
}
.header__logo{
	flex: 0 0 45px;
	margin-left: 30px;
}
.header__logo img{
	max-width: 100%;
	display: block;
}

.container{
	padding-top:50px;
	max-width: 1170px;
	margin: 0 auto;
	/* padding: 50px 15px 15px 0; */
	padding: 0 25px;
}

.header__burger{
	display: none;
}
/* ============================================MAIN========================================================= */
 .wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper_spacing{
	padding-bottom: 40px;
}

.fullscreen{
	background: url('./images/background/background.jpg') no-repeat center center fixed;
	display: flex;
	min-height: 100vh;
	background-size: cover;
	padding: 0px 20px;

}

.fullscreen__body{
	max-width: 85%;
	width: 100%;
	flex:1 1 auto;
	margin: 0 auto; 
	text-align: center; 
	display: flex; 
	flex-direction: column;
	justify-content: center;
	
}

.fullscreen_h1{
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 72px;
}

.fullscreen_h4{
	text-transform: lowercase;
	font-size: 26px;
	line-height: 46.8px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	color: #EEEEEE;
	font-family: 'Roboto light', sans-serif ;
	font-weight: 300;
}

.fullscreen_btn{
	display: inline-block;
	text-transform: uppercase;
	line-height: 50px;
	color: #FFFFFF;;
	background-color: rgb(228,74,36);
	border-radius: 3px;
	letter-spacing: 2px;
	align-self: center;
	cursor: pointer;
	padding: 0 32px;
   font-size: 18px;
   letter-spacing: 2px;
   height: 52px;
   line-height: 52px;
	font-weight: 700;
	margin: 5px;
}
/* ==========После background================= */
.main__content{
	padding-bottom: 70px;
}
.content_inner{
	align-items: center;
	text-align: center;
	position: relative;
}

.content__h2{
	font-size: calc(1.875em + .2vw);
	margin-bottom: 30px;
	text-align: center;
	color:#444444;
	line-height: 30px;
}

.content__h3{
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
	word-spacing: 0;
	color:black;

}

.content__list{
	display: flex;
	flex-wrap: wrap;
}

.content__list_p{
	font-family: 'Roboto Regular';
	font-weight: 100;
	color:#555555;
	margin-bottom: 20px;
}

.list__item{
	display: flex;
	padding:0px;
	width: 33.3%;
	
}
.spacing{
	margin-bottom: 40px;
}

.list__item i{
	border-radius: 3px;
	background-color: rgb(228,74,36);
	min-width: 64px;
	line-height: 64px;
	font-size: 28px;
	color:#fff;
	margin: 0 25px;
	transition: .5s;
}

.list__item span{
	text-align: left;
	font-size: 18px;
	line-height: 27px;
	font-weight: 600;
}

.list__item:hover.list__item i{
	background-color: rgb(17,30,73);;
	color:#fff;
	outline: 1px solid rgb(17,30,73);;
	outline-offset: 3px;
} 

/* =====================Второй блок=========================== */
.if{
	font-size: 30px;
	line-height: 45px;
	color:#444444;
}

.text_span__color{
	color:rgb(228,74,36);
	font-size: 24px;
	line-height: 36px;
}

.money__chapter_h1,
.money__chapter_h2{
	text-align: center;
}

.money__chapter_h2{
	font-size: 24px;
	line-height: 36px;
	font-weight: 600;
	word-spacing: 0;
	font-family: 'Source Sans Pro Regular',sans-serif;
}

.money__chapter{
	margin-bottom: 100px;
}

.chapter_body p{
	min-height: 70px; 
}

.chapter_body h3{
	margin-top: 40px;
	font-family:'Source Sans Pro Regular', sans-serif;
	margin-bottom: 20px;
}

.chapter_list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

.chapter_body{
	display: flex;
	flex-direction: column;
	font-family: 'Roboto regular', sans-serif;
	width: 50%;
}

.line{
	background-color: rgb(228,74,36);;
	width:100%;
	margin: 70px 20px;
	position: relative;
}

.line:before{
	content: '';
	width: 18px;
	height: 18px;
	position: absolute;
	background-color:rgb(228,74,36);
	border-radius:50%;
	top:-8px;
	left: 18px;
	margin-left: -45px;
}

hr {
	margin:50px 0;
	border: 0;
	clear:both;
	display:block;
	width: 96%;               
	background-color:gainsboro;
	height: 1px;
}

.list_item__text{
	text-align: left;
	font-family: 'Source Sans Pro 700';
	line-height: 21px;
	font-size: 14px;

}
.list_item__span{
	line-height: 25.2px;
	font-size: 14px !important;
	font-family: 'Roboto Regular' !important;
	font-weight: 100 !important;
}
/* ========================TIMELINE=========================================== */
.how_it_work{
	padding-bottom: 100px;
}

.box{
	width: 500px;
	height: 200px;
}
.work__inner{
	max-width: 186px;
	height: 51px;
	margin: 0 auto;
	padding-bottom: 100px;
}
.work__inner_p{
	padding:10px;
	font-size: 18px;
	min-width: 25%;
	line-height: 27px;
	margin:0 auto;
	text-transform: uppercase;
	border: 2px solid #EEEEEE;
	font-family: 'Source Sans Pro 700';
}

.timeline_items{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 0 auto;
}

.items_inner{
	text-align: left;
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 15px;
}

.items_inner::after{
	position: absolute;
	content: '';
	height: 810px;
	border-left:1px dashed #CCCCCC;
	margin: 0 0 0 50px;
	top: -50px;
	bottom: 0;
	right: 710px;
	left:530px;
	
}

.items_inner h4{
	color:#E44A24;
	padding-bottom: 15px;
	font-size: 48px;
	line-height: 48px;
	font-family: 'Roboto-bold';
}
.items_inner p{
	font-size: 14px;
	line-height: 25.2px;
	font-family: 'Roboto Regular';
	color:#555555;
	padding-bottom: 15px;
}
.ball_in_timeline,.ball_in_timeline_4,.ball_in_timeline_2,.ball_in_timeline_3,
.ball_in_timeline_5,.ball_in_timeline_6,.ball_in_timeline_7{
	border:1px solid #AAAAAA;
	background-color: white ;
	z-index: 1;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	position: absolute;
	bottom: 200px;
}
.two,
.three,
.five,
.seven{
	padding-left: 50px;
}

.ball_in_timeline::after,
.ball_in_timeline_4::after,
.ball_in_timeline_6::after{
	content: '';
	position: absolute;
	top: 5px;
	right: 11px;
	border: 1px dashed #CCCCCC;
	width: 50px;
}

.ball_in_timeline_2::after,
.ball_in_timeline_3::after,
.ball_in_timeline_5::after,
.ball_in_timeline_7::after{
	content: '';
	position: absolute;
	top: 5px;
	left: 11px;
	border: 1px dashed #CCCCCC;
	width: 50px;
}

.ball_in_timeline{
	top:20px;
	left: 573px;
	right: 0px;
	display: flex;
}
.ball_in_timeline_2{
	top:60px;
	left: 573px;
	right: 200px;
}
.ball_in_timeline_3{
	top:220px;
	left: 573px;
	right: 200px;
}

.ball_in_timeline_4{
	top:260px;
	left: 573px;
	right: 0;
}
.ball_in_timeline_5{
	top:420px;
	left: 573px;
	right: 200px;
}
.ball_in_timeline_6{
	top:460px;
	left: 573px;
	right: 0px;
}
.ball_in_timeline_7{
	top:630px;
	left: 573px;
	right: 200px;
}

/* ================================================================================ */
.conten__list p{
	padding-bottom:30px;
	font-family: 'Roboto light';
	font-size: 14px;
	line-height: 25.2px;
	font-weight: 400;
}
.tariffs_list,.tariffs_list_i span,li,ul{
	display: block;
	text-align: left;
}
.tariffs_list li{
	display: inline-block;
}
.tariffs_list{
	padding-left: 10px;
	padding-bottom: 10px;
	
	font-size: 14px;
	
}
.tariffs_list_i{
	font-family: 'Roboto italic';
}
/* ================================================================================= */
.table{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-family: 'Roboto Regular';
}
.table_inner{
	background-color: #F9F9F9;
	min-width: 20%;
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(0,0,0,0.075);
}

.table_header{
	padding: 20px 0;
	text-transform: uppercase;
	color:#E44A24;	
	display:block;
	border-bottom: 1px solid rgba(0,0,0,0.075);
}

.table_header.max{
	flex:1
}

.table_inner p{
	padding-bottom: 20px;
}
.table_end{
	padding: 20px;
}
/* ============================================================================ */
.border_to_photo{
	border:1px solid rgba(0,0,0,0.075);
	padding: 15px;
	text-align: left;
}
.responsive{
	width: 100%;
	height: auto;
}
.map{
	height: 400px;
	width: 730px;

}

.border_to_photo p{
	font-family: 'Roboto italic';
}
.border_to_photo h5{
	text-transform: uppercase;
	font-family: 'Roboto-bold';
}
.border_to_photo small{
	font-size: 13px;
	font-weight: 100;
	color:#999999;
	font-family: 'Roboto Regular';
}
/* ========================================================================= */
.video{
	width: 30%;
	margin: 0 10px;
	height: 200px;
}

/* ================================FOOTER=============================================== */
.footer{
	background-color: #333333;
	padding: 50px 0;
}

.container_footer{
	max-width: 1170px;
	margin: 0 auto;
}

.footer_body{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.body_items,.body_items_h2,.body_items_p,.body_items_a{
	color:#CCC;
	font-family: 'Roboto Regular';
	line-height: 23.8px;
	font-size: 14px;
	text-decoration: none;
	padding: 20px 0;
}

.icon_style{
	color:#CCCCCC;
	line-height: 30px;
}

.body_items h2{
	font-size: 20px;
	letter-spacing: 3px;
	line-height: 30px;
	text-transform: uppercase;
	font-family: 'Source Sans Pro light';
	font-weight: 300;
	color:#DDDDDD;	
}
.contrast{
	filter: contrast(0.5);
}


.body_items p,a{
	line-height: 21px;
}

.body_items i{
	padding: 0 10px;
}
.body_items_p strong{
	color:#CCCCCC;	
}

.map{
	padding-top:10px;
}
/* ============================АДАПТИВ========================================== */
@media (max-width:1200px) {
	.ten{
		display: none;
	}
	.items_inner::after{
		display: none;
	}
.two,
.three,
.five,
.seven{
	padding-left: 0px;
}
}
@media (max-width:1200px) {
.ball_in_timeline,.ball_in_timeline_4,.ball_in_timeline_2,.ball_in_timeline_3,
.ball_in_timeline_5,.ball_in_timeline_6,.ball_in_timeline_7,.vertical_line, .items_inner::after {
		display: none;
	}

.timeline_items{
	flex-direction: column;
}
.items_inner{
	padding:0 15px
}
.work__inner{
	margin: auto;
	width: 50%;
}

.box{
	width: 100%;
	height: auto;
}

.one{
	order:0;
}
.two{
	order:1;
}
.three{
	order:2;
}
.four{
	order:3;
}
.five{
	order:4;
}
.six{
	order:5;
}
.seven{
	order:6;
}
}

@media(max-width:885px){
	.main__content{
		padding-bottom: 30px;
	}
	.how_it_work{
		padding-bottom: 30px;
	}
	.money__chapter{
		margin-bottom: 30px;
	}
	.header{
		padding: 0 5px;
	}
	body.lock{
		overflow: hidden;
	}
	.spacing_p{
		margin-bottom: 20px;
	}
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}
	.header__burger span{
		position: absolute;
		background-color:#000;
		left: 0px;
		width: 100%;
		height: 2px;
		top: 9px;
		transition:all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0px;
		transition:all 0.3s ease 0s;
	}

	.container{
		padding:0 15px !important;
	}

	.header__burger:before{
		top: 0px;
	}
	.header__burger:after{
		bottom: 0px;
	}
	.line{
		background-color: rgb(228,74,36);;
		width:90%;
		margin: 70px 20px;
		position: relative;
	}
	.header__menu{
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		overflow: auto;
		background-color: #fff;
		padding: 100px 10px 20px 10px;
		transition: all 0.3s;
		position: fixed;
		left: 0px;
	}

	.header__menu.active{
		top:0
	}
	.header__list{
		display: block;
	}
	.header__list li{
		list-style: none;
		margin: 0px 0px 20px 0px;
	}

	.header__burger.active:before{
		transform:rotate(45deg);
		top:9px;
	}
	.header__burger.active:after{
		transform:rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span{
		transform: scale(0);
	}
	.header__body{
		display: flex;
		flex-direction: row-reverse;
		/* justify-content: flex-start; */
	}
	.header__logo{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin:0 auto;
	}

	.header__burger{
		display: flex;
		margin: 0 20px;
	}

	.fullscreen_h1{
		font-size: 15px;
		line-height: 35px;
	}
	.fullscreen__body{
		min-width: 80%;
		transition: .5s;
	}
	.fullscreen_h4{
		font-size: 15px;
		line-height: 20px;
	}
	.content__list{
		flex-direction: column;
	} 
	.list__item{
		width: 100%;
	}
	.chapter_list{
		flex-direction: column;
	}
	.chapter_body{
		width: 100%;
	}
	.list__item i{
		border-radius: 3px;
		background-color: rgb(228,74,36);
		min-width: 64px;
		line-height: 64px;
		font-size: 28px;
		color:#fff;
		margin:0 15px 40px 0px;	
		transition: all 0.3s;
	}
	.table{
		flex-direction: column;
	}
	.table_inner{
		margin: 15px 0;
	}

	.video{
		width: 100%;
		margin: 10px 0;
		height: auto;
	}
	.footer_body{
		flex-direction: column;
	} 
	.container{
		padding: 0 15px;
	}
	.map{
		width: 100%;
	}
	.footer{
		padding-bottom: 0;
	}
	
 }
/* ==================================================================== */
