html{
	width: 99%;
}

*{
	padding: 0;
	margin:0;
	text-decoration: none;	
}

nav {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
}

.divider{
	position: relative;
}
.divider:after{
	content: '';
	position: absolute;
	width:95%;
	top:22px;
	left: 30px;
	height: 0;
	border-top: 1px solid #EEE;
}

h1.title{
	font-size: 3rem;
}

.divider:after {
	border-color: rgb(228,74,36);
}

.color-ball {
	color: rgb(228,74,36);
	margin-top: 15px;
}

.size-box {
	height: 70px;
	margin-bottom: 30px;
}

.style-of h1{
	color:white;
	font-size: 3rem;
	padding-bottom: 40px;
  }
  
  .style-of h2{
	  font-size: 26px;
	  text-transform: lowercase;
	  font-weight: 300;
	  font-family: 'Roboto', sans-serif;
	  line-height: 1.8;
	  color: #EEE;
	  max-width: 600px;
	  margin-left: auto;
	  margin-right: auto;
  }
  .style-of-p{
	  font-family: 'Souce Sans Pro',sans-serif; 
	  font-size: 15px;
	  color:#444444;
  }
  
  .title-params{
	  padding-top:120px;
	  width:100%;
	  height:50px;
	  opacity:1;
  }
  
  .bg {
	  background-image: url('/images/pexels-photo-959816.jpeg');
	  min-height: 90vh;
	  background-attachment: fixed;
  }

.icon-class {
	font-size:35px;
	background-color: rgb(228,74,36);
	color:white;
	padding: 12px 10px 12px 15px;
	border-radius: 5px;
	border: 3px solid white;
}

.icon-hov:hover i {
	background-color:#191970;
	transition: .3s;
	box-shadow: 0 0 0 2pt #191970;
}

.span-text {
	color:rgb(228,74,36);
}

.text-size {
	font-size: 0.875rem;
	line-height: 1.8;
	font-family: 'Roboto', sans-serif;
}

.uni-format {
	font-weight: bold; 
	font-size: 15px; 
	width: 225px;
}

h1,h2,h3,h4,h5 {
	line-height: 1.6;
}

.table-padding-st{
	border-bottom: 1px solid rgba(0,0,0,0.085);
	padding-bottom: 140px !important;
}

button {
	background-color: rgb(228,74,36);
	padding: 12px 25px;
	border-radius: 5px;
	border: none; 
	letter-spacing: 2px;
	color:white;
	font-size: 18px;
	font-weight: 500;
	font-family: sans-serif;
}

.if-block p {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

.if-block h2 {
	font-size: 18px;
}

.border-box  {
	border: 1px solid grey;
	padding: 10px 12px;
}

.border-photo {
	border: 1px solid grey;
	padding: 5px 8px;
}
.color-yellow{
	color:rgb(228,74,36);
}

.style-of-table{
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	color: #555;
	font-size: 0.875rem;
	font-weight: 400;
	border: 1px solid rgba(0,0,0,0.085);
	background-color:rgba(0,0,0,0.075);
	position: relative;
}

.table-header {
	height: 30px;
}
.table-header h4{
	color:rgb(228,74,36);
}

.qwerty{ 
	color: #CCC;
} 

.qwerty:hover{
	color: #999;
}

.table p{
	padding-bottom:20px;
	background-color:rgba(0,0,0,0.075);
}


.container-timeline {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	background-color:white;
 }
 .timeline {
	width: 100%;
	height: auto;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
 }
 
 .timeline ul {
	list-style: none;
 }
 
 .timeline ul li {
	padding: 20px;
	background-color:white;
	color: black;
	border-radius: 10px;
	margin-bottom: 10px;
	
 }
 .timeline ul li:last-child {
	margin-bottom: 0;
 }
 
 .timeline-content h2 {
	font-size: 45px;
	font-weight:600;
	color: rgb(228,74,36);
 }
 .timeline-content p {
	font-size: 14px;
	line-height: 25px;
	font-weight: 400;
	color:#555555;
	font-family: 'Roboto', sans-serif;
 }
 .timeline-content .date {
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 0px;
 }

 .title-params{
	padding-top:220px;
	width:100%;
	height:50px;
	opacity:1;
}

.style-of h1{
	color:white;
	font-size: 3rem;
	padding-bottom: 40px;
  }
  
 
 @media only screen and (min-width: 768px) {
	.timeline:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 50%;
	  border: 1px dashed #AAA;
	  transform: translateX(-50%);
	  width: 1px;
	  height: 100%;
	  background-color: white;
	}
	.timeline ul li {
	  width: 50%;
	  position: relative;
	  /* margin-bottom: 50px; */
	}
	.timeline ul li:nth-child(odd) {
	  float: left;
	  clear: right;
	  transform: translateX(-30px);
	  border-radius: 20px 0px 20px 20px;
	}
	.timeline ul li:nth-child(even) {
	  float: right;
	  clear: left;
	  transform: translateX(30px);
	  border-radius: 0px 20px 20px 20px;
	  margin: 0px;
	}
 
	.odd::after{
	  content: "";
	  position: absolute;
	  width: 50px;
	  background-color: white;
	  border: 1px dashed #AAA;
	  top:85px;
	  right:-23px;
	}
 
	.even::after{
	  content: "";
	  position: absolute;
	  width: 50px;
	  background-color: white;
	  border: 1px dashed #AAA;
	  top:85px;
	  left:-23px;
	}
 
	.even:hover:after, .odd:hover:after{
		transition: .5s;
		border: 1px dashed rgb(228,74,36);
  	}
 
	.timeline ul li::before {
	  content: "";
	  position: absolute;
	  height: 15px;
	  width: 15px;
	  background-color: white;
	  border: 1px solid #AAA;;
	  border-radius: 50%;
	  top: 85px;
	}
	.timeline ul li:nth-child(odd)::before {
	  transform: translate(50%, -50%);
	  right: -30px;
	}
	.timeline ul li:nth-child(even)::before {
	  transform: translate(-50%, -50%);
	  left: -30px;
	}
	.timeline-content .date {
	  position: absolute;
	  top: -30px;
	}
	.timeline ul li:hover::before, .even:hover::before {
	  background-color:rgb(228,74,36);
	  transition: .5s;
	}

 }
 
 @media screen and (max-width:768px){
	.style-of h1{
		margin-top: 100px;
		font-size: 27px;
	}

	.table-padding-st{
		border-bottom: 1px solid rgba(0,0,0,0.085);
		padding-bottom: 10px !important;
	}

	.style-of h2{
		margin-top: 100px;
		font-size: 17px;
	}
	.title-params{
		padding-top:10px;
	}
	.margin{
		margin:0 0 30px;
		min-height: 0px;
	}
	p.title{
		font-size: 20px;
	}



	h1.title{
		margin-top:75px ;
		font-size: 15px;
	}
	.bg {
		min-height: 50vh;
		background-attachment: fixed;
		background-size:cover;
	}
	.hero-body{
		padding: 1rem 1.5rem;
	}
}

.qwerty{ 
	color: #CCC;
} 

.qwerty:hover{
	color: #999;
}
.p-font{
	font-size: 16px !important;
}