html{
	box-sizing: border-box;
}
*,
*::After,
*::before{
	box-sizing: inherit;
}

.container_global{
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;

}

body{
	font-family: 'Palatino Linotype', sans-serif;
	color: #867F7F;
}
/* ================================================================= */

.menu__list{
	display: flex;
	padding-top: 70px;
	padding-left: 100px;
}

.logo img{
	padding-top: 10px;
	width: 270px ;
	height: 102px ; 
}
.menu__item{
	margin: 0 12.5px;
}

.list__link{
	color: #867F7F;
	font-size: 16px;
	Line-height:17,6px;
	font-weight: 700px;
	border: 1px solid #C7C0C0;
	border-radius:55px;
	padding: 4px 40px;
}

.list__link:hover{
	background-color: #28424F;
	color:white;
	transition: .5s;
}

.background-img img{
	height: 50vh;
	background-size:cover;
	width: 300vh;

}

.border{
	border: 1px solid #867F7F;
	padding: 0 10px;
	margin: 0 auto;
}

.show{
	display: block;
 }
 
 .hidden{
	display: none;
 }

 .vacation{
	background-image: url('/img/background_grid.png');
 }

 .screpka{
	background-image: url('/img/icon/screpka.png');
	width: 250px;
	height: 250px;
	margin-left: -130px;
 }

 .flexx{
	 display: flex;
	 justify-content: space-between;
 }

 .flexx{
	margin-left: 0px;
 }
 


 @media only screen and (max-width: 450px) {
	.main__header h2, h3{
		font-size: 20px !important;
	}
}

@media only screen and (max-width: 768px) {
	.responseve__column{
		display: flex;
		flex-direction: column-reverse;
	}
}

@media only screen and (max-width: 1024px) {
	.screpka{
		display: none;
	 }
}

@media only screen and (max-width: 840px) {
	.icon-around-decoretion{
		border: 1px solid #867F7F;
		max-width: 400px;
		border-radius: 100px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 640px) {
	.icon-around-decoretion{
		border: 1px solid #867F7F;
		max-width: 320px;
		border-radius: 100px;
		margin: 0 auto;

	}
}

@media only screen and (max-width: 1024px) {
	.indent__menu_item{
		padding-right: 0px !important;
	}
} 



