.b-sidebar .sidebar-content.is-fixed {
	position: fixed;
	left: 0;
	top: 0;
}

.main-right{
	display: none !important;
}

.b-sidebar .sidebar-content.is-mini {
	max-width: 50px !important;
}

@media (max-width:1200px) {
	.b-sidebar .sidebar-content.is-fixed.is-right {
		display: none !important;
  }
  .main-center{
	margin-right: 15px;
	width: 100%;
}
}

@media (max-width:736px) {
	.b-sidebar .sidebar-content.is-fixed {
		display: none !important;
	}
	.main-left {
		display: none;
  }
	.main-center{
		margin-left: 15px !important;
		margin-right: 15px !important;
		width: 100% !important;
	}
}


/* ================================================ */

@font-face {
	font-family: 'Noto';
	src: url('./fonts/left/Raleway-Light.ttf');
	src: local('☺'), url('') format('woff'), url('') format('truetype');
	font-weight: normal;
	font-style: normal;
}

